body {
  margin: 0;
  padding: 0;
  background-color: gray;
  background-image: url("assets/bg.png");
  background-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  image-rendering: pixelated;
}
